<div class="w-50 mx-auto">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::AUTHORIZED_CATEGORY %>
    <%= f.button :submit, class: "btn btn-primary mt-3" %>
  <% end %>
</div>
